body {
  margin: 10%;
  color: #FFFFFF;
  background-color: #FFFFFF;
  font-family: 'Play', sans-serif;
  background-color: #e3e3e3;
  background-image: url(../img/background.png);
  background-size: 105%;
  background-attachment: fixed;
  background-position: center;
}

.welcomeRobo {
  text-align: center;

}

#welcomeRobo {
  text-align: center;
  font-size: 30px;

}

.jumbotron {
  background-color: #949494;
  border-radius: 10px;
  border: solid 1px #c2c6c4;
  margin: 20%;
  display: none;
}

#formOne {
  margin: 5%;
  display: none;
}

/* input id bar */
#name {
  width: 400px;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 100%;
}


button {
  border-radius: 5%;
  border: solid 1px #c2c6c4;
  background-color: #c8ceca;
}

#result {
  display: none;

}

#formTwo {
  display:none;
  font-family: 'Play', sans-serif;
}

#welcome {
  font-size: 90px;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-style: bold;
  letter-spacing: -3px;
  border-bottom: 0.7px solid #c2c6c4;
}

h2 {
  text-align: left;
  direction: rtl;
  font-family: 'Play', sans-serif;
  font-style: bold;
  letter-spacing: -1px;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-style: bold;
  letter-spacing: -2px;
  border-bottom: 0.7px solid #c2c6c4;
}

.well {
  background-color: #949494;
  margin: 5%;
  padding: 2%;
  border-radius: 10px;
  border: solid 1px #c2c6c4;
  display: none;
}

a {
  text-align: center;
}
