body {
  margin: 10%;
  color: #000000;
  background-image: url("https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-1.2.1&auto=format&fit=crop&w=2082&q=80");
  background-attachment: fixed;
  background-position: bottom right;
  background-size: 40%;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
}

.jumbotron {
  float: left;
  background-color: #314970;
  border-radius: 10px;
  border: solid 1px #c2c6c4;
  margin: 5%;
}

#formOne {
  margin: 5%;
  float: left;
}

#name {
  width: 400px;
}

#welcome {
  font-size: 90px;
  text-align: left;
  font-family: 'Cardo', serif;
  font-style: bold;
  letter-spacing: -2px;

h2 {
  text-align: left;
  font-family: 'Brawler', serif;
  font-style: bold;
  letter-spacing: -6px;
}

}
#formTwo {
  display: none;
}
